<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>골목대장</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="./favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./css/styles.css" rel="stylesheet" />
        <!-- Google Font -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        </style>
        <link rel="stylesheet" type="text/css" href="./loglib/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./loglib/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./loglib/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
        <link rel="stylesheet" type="text/css" href="./loglib/vendor/animate/animate.css">	
        <link rel="stylesheet" type="text/css" href="./loglib/vendor/css-hamburgers/hamburgers.min.css">
        <link rel="stylesheet" type="text/css" href="./loglib/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" type="text/css" href="./loglib/vendor/select2/select2.min.css">	
        <link rel="stylesheet" type="text/css" href="./loglib/vendor/daterangepicker/daterangepicker.css">
        <link rel="stylesheet" type="text/css" href="./loglib/css/util.css">
        <link rel="stylesheet" type="text/css" href="./loglib/css/main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script type="text/javascript"> 
        function login() { 
            var ajax = $.ajax({ 
                url: "/login", 
                data: "userid=" + $("#userid").val() + "&password=" + $("#password").val(), 
                type: 'POST', 
                success: function (result) { 
                    if (result.code == 0) { 
                        // $("#login").hide(); 
                        // $("#loginout").show(); 
                        // $("#loginName").html(result.data.name); 
                        location.replace("/");
                        } else { 
                            alert(result.msg); 
                            } 
                        } 
                    }); 
                } 
        // Kakao.init("236af7774c0ac52f58dcd325c0c19953");
        // function kakaoLogin() {
        //     Kakao.Auth.login({
        //     success: function (response) {
        //         Kakao.API.request({
        //         url: '/v2/user/me',
        //         success: function (response) {
        //             console.log(response)
        //         },
        //         fail: function (error) {
        //             console.log(error)
        //         },
        //         })
        //     },
        //     fail: function (error) {
        //         console.log(error)
        //     },
        //     })
        // }
        </script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <!-- style="background-color:blue" -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <div class="container px-5">
                <a class="navbar-brand" href="/"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                            <!-- 로그인 안 됨 -->
                            <li class="nav-item"><a class="nav-link" href="/signup">회원가입</a></li>
                            <li class="nav-item"><a class="nav-link" href="/">메인페이지</a></li>
                    </ul>
                </div>
        </nav>
        <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-50">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						로그인
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "아이디는 필수입니다!">
						<input class="input100" type="text" name="username" id="userid" placeholder="ID">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "비밀번호는 필수입니다!">
						<input class="input100" type="password" name="pass" id="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								다음에도 기억할까요?
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								아이디/비밀번호 찾기
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn m-b-16" type="button" onclick="login();">
							Login
						</button>
						<!-- <button class="login100-form-btn m-b-16" type="button" onclick="">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg>&nbsp;&nbsp;카카오계정으로 로그인
						</button> -->
						<a class="login100-form-btn m-b-16" type="button" href="/signup">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                              </svg>&nbsp;&nbsp;회원가입
                        </a>
					</div>
                    

				</form>
			</div>
		</div>
	</div>
        
    
        <div id="dropDownSelect1"></div>
        
        <script src="./loglib/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="./loglib/vendor/animsition/js/animsition.min.js"></script>
        <script src="./loglib/vendor/bootstrap/js/popper.js"></script>
        <script src="./loglib/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="./loglib/vendor/select2/select2.min.js"></script>
        <script src="./loglib/vendor/daterangepicker/moment.min.js"></script>
        <script src="./loglib/vendor/daterangepicker/daterangepicker.js"></script>
        <script src="./loglib/vendor/countdowntime/countdowntime.js"></script>
        <script src="./loglib/js/main.js"></script>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; 골목대장 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>