<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>골목대장</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="./favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="./css/styles.css" rel="stylesheet" />
        <!-- Google Font -->
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <!-- style="background-color:blue" -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <div class="container px-5">
                <a class="navbar-brand" href="/">
                    골목대장
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <% if (user == "N"){ %>
                            <!-- 로그인 안 됨 -->
                            <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">회원가입</a></li>
                        <% } else { %>
                            <!-- 로그인 됨 -->
                            <% if (user.user_is_president_yn == "Y"){ %>
                            <li class="nav-item"><a class="nav-link" href="/manage">회원관리</a></li>
                            <% } %>
                            <li class="nav-item"><a class="nav-link" href="/upload">업로드</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                        <% } %>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5 box01" style="background: url(./assets/main_background.jpg);">
            <div class="box01"></div>
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">동네를 점령해봐!</h1>
                            <p class="lead text-white-50 mb-4"><br>네가 속한 CLUB을 등록해, 친구들과 경쟁하고 최고가 되어봐! 우리 '골목대장'이 너를 빛나게 해줄게!<br><br></p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <% if (user == "N"){ %>
                                    <a class="btn btn-custom btn-lg px-4 me-sm-3" href="/login">로그인</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="/signup">회원가입</a>
                                <% } else { %>
                                    <a class="btn btn-custom btn-lg px-4 me-sm-3" href="#!">내 CLUB</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="#features">CLUB 목록</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="bg-custom-light py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-custom bg-gradient text-white rounded-3 mb-3"><i class="bi bi-chat-left-dots"></i></div>
                        <h2 class="h4 fw-bolder">수의사님과의 1 : 1 채팅</h2>
                        <!-- 파일업로드 주석 -->
                        <!-- <form action="/uploadFileWithOriginalFilename" enctype="multipart/form-data" method="post">
                            <input id="file" type="file" name="attachment">
                            <button type="submit" class="btn bg-custom">Upload</button>
                        </form> -->
                        <!-- 파일업로드 주석 -->
                        <p>수의사님과 1대1 채팅을 통해 회원님의 반려동물의 대한 궁금증과 자료들을 주고 받아보실 수 있습니다.</p>
                        <a class="text-decoration-none" href="/chat">
                            1 : 1 채팅 시작
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-custom bg-gradient text-white rounded-3 mb-3"><i class="bi bi-person-badge"></i></div>
                        <h2 class="h4 fw-bolder">1 : 1 화상진료</h2>
                        <p>수의사님과의 1대1 원격 화상진료를 통해 회원님의 반려동물의 건강을 장소와 시간의 제약없이 점검할 수 있습니다.</p>
                        <a class="text-decoration-none" href="#!">
                            진료 보러가기
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-custom bg-gradient text-white rounded-3 mb-3"><i class="bi bi-calendar4-week"></i></div>
                        <h2 class="h4 fw-bolder">스케줄링 서비스</h2>
                        <p>회원님의 반려동물에 대한 진료 날짜, 건강 관리, 여러 일정 관리를 도와줄 스케줄링 서비스를 제공합니다.</p>
                        <a class="text-decoration-none" href="#!">
                            나의 스케줄
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
        <!-- <section class="bg-light py-5 border-bottom">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Pay as you grow</h2>
                    <p class="lead mb-0">With our no hassle pricing plans</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted">Free</div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$0</span>
                                    <span class="text-muted">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>1 users</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        5GB storage
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Unlimited public projects
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Community access
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Unlimited private projects
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Dedicated support
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Free linked domain
                                    </li>
                                    <li class="text-muted">
                                        <i class="bi bi-x"></i>
                                        Monthly status reports
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    Pro
                                </div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$9</span>
                                    <span class="text-muted">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>5 users</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        5GB storage
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Unlimited public projects
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Community access
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Unlimited private projects
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Dedicated support
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Free linked domain
                                    </li>
                                    <li class="text-muted">
                                        <i class="bi bi-x"></i>
                                        Monthly status reports
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="#!">Choose plan</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted">Enterprise</div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$49</span>
                                    <span class="text-muted">/ mo.</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>Unlimited users</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        5GB storage
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Unlimited public projects
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Community access
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Unlimited private projects
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Dedicated support
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>Unlimited</strong>
                                        linked domains
                                    </li>
                                    <li class="text-muted">
                                        <i class="bi bi-check text-primary"></i>
                                        Monthly status reports
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Testimonials section-->
        <!-- <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">회원님들의 리뷰</h2>
                    <p class="lead mb-0">항상 질 높은 서비스를 제공하기 위해 노력하겠습니다!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">좋은앱 감사합니다!! 어떤 상황에도 든든할것 같아요 기록일지로도 너무 좋아요!</p>
                                        <div class="small text-muted">- '이름'님의 리뷰 2022. 01. 15.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">병원에 방문을 할 수 없을 때 의사분께 질문드릴 수 있어서 좋았어요!</p>
                                        <div class="small text-muted">- '하랑' 님의 리뷰 2022. 01. 10</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-custom bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">메일 문의</h2>
                    <p class="lead mb-0">회원님들의 목소리를 들려주세요!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="이름 입력..." data-sb-validations="required" />
                                <label for="name">이름</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">이름을 입력해주세요!</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">이메일 주소</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">이메일을 입력해주세요!</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">유효하지 않은 이메일 형식입니다!</div>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">전화번호</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">전화번호를 입력해주세요!</div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="내용 입력..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">내용</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">문의하실 내용을 입력해주세요!</div>
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">성공적으로 제출하였습니다!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="#!"></a>
                                </div>
                            </div>
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <div class="d-grid"><button class="btn bg-custom btn-lg disabled" id="submitButton" type="submit">제출</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; 골목대장 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>