<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf8" />
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Hospetter</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="./css/styles.css" rel="stylesheet" />
    <!-- Google Font -->

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="./css/chat.css" rel="stylesheet" id="bootstrap-css">

    <!-- Google Font -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
      .cursor_div_custom {cursor: pointer;}
    </style>
</head>

<body>
  <!-- Responsive navbar-->
        <!-- style="background-color:blue" -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
          <div class="container px-5">
              <a class="navbar-brand" href="/"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="white" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.954 11c3.33 0 7.057 6.123 7.632 8.716.575 2.594-.996 4.729-3.484 4.112-1.092-.271-3.252-1.307-4.102-1.291-.925.016-2.379.836-3.587 1.252-2.657.916-4.717-1.283-4.01-4.073.774-3.051 4.48-8.716 7.551-8.716zm10.793-4.39c1.188.539 1.629 2.82.894 5.27-.704 2.341-2.33 3.806-4.556 2.796-1.931-.877-2.158-3.178-.894-5.27 1.274-2.107 3.367-3.336 4.556-2.796zm-21.968.706c-1.044.729-1.06 2.996.082 5.215 1.092 2.12 2.913 3.236 4.868 1.87 1.696-1.185 1.504-3.433-.082-5.215-1.596-1.793-3.824-2.599-4.868-1.87zm15.643-7.292c1.323.251 2.321 2.428 2.182 5.062-.134 2.517-1.405 4.382-3.882 3.912-2.149-.407-2.938-2.657-2.181-5.061.761-2.421 2.559-4.164 3.881-3.913zm-10.295.058c-1.268.451-1.92 2.756-1.377 5.337.519 2.467 2.062 4.114 4.437 3.269 2.06-.732 2.494-3.077 1.377-5.336-1.125-2.276-3.169-3.721-4.437-3.27z"/></svg>
                  Hospetter
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                      <% if (user == "N"){ %>
                          <!-- 로그인 안 됨 -->
                          <li class="nav-item"><a class="nav-link" href="/login">로그인</a></li>
                          <li class="nav-item"><a class="nav-link" href="/signup">회원가입</a></li>
                      <% } else { %>
                          <!-- 로그인 됨 -->
                          <% if (user.manager == "Y"){ %>
                          <li class="nav-item"><a class="nav-link" href="/manage">회원관리</a></li>
                          <% } %>
                          <li class="nav-item"><a class="nav-link" href="/upload">업로드</a></li>
                          <li class="nav-item"><a class="nav-link" href="/logout">로그아웃</a></li>
                      <% } %>
                  </ul>
              </div>
          </div>
      </nav>
    <div class="container" style="max-width: 50%;">
        <h3 class=" text-center" style="height: 50px;"></h3>
        <div class="messaging">
              <div class="inbox_msg">
                <div class="inbox_people" style=" width: 100%;">
                  <div class="headind_srch">
                    <div class="recent_heading">
                      <h4>수의사 목록</h4>
                    </div>
                    <div class="srch_bar">
                      <div class="stylish-input-group">
                        <input type="text" class="search-bar"  placeholder="Search" >
                        <span class="input-group-addon">
                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span> </div>
                    </div>
                  </div>
                  <div class="inbox_chat">

                    <% docList.contentQueryResult.forEach(function(doc){ %>
                    <div class="chat_list cursor_div_custom" onclick="location.href='/chat_create?userid=<%=doc.userid%>'">
                      <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                          <h5><%=doc.name %>  수의사님</h5>
                        </div>
                      </div>
                    </div>
                    <%});%>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Hospetter 2022</p></div>
        </footer>
</body>

</html>